<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.meowbah.refreshVideos</string>
		<string>com.meowbah.refresh</string>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict/>
		</dict>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We notify you when new videos are available.</string>
</dict>
</plist>
